<%
  common_params = {
    client: @client,
    response_type: @response_type,
    redirect_uri: @redirect_uri,
    scopes: @scopes,
    state: params[:state],
    nonce: params[:nonce],
    _request_: @_request_,
    request_uri: @request_uri
  }
%>

  <h2 class="text-2xl font-semibold"><%= t('authorizations.new.title', client: @client.name) %></h2>
  <p><%= t('authorizations.new.description', redirect_uri: @redirect_uri) %></p>
  <dl class="mt-4">
    <dt class="font-semibold"><%= t('authorization.scope') %></dt>
    <dd class="ml-4">
      <ul>
        <% @scopes.each do |scope| %>
          <li><%= scope.name %></li>
        <% end %>
      </ul>
    </dd>
    <% if @request_object %>
      <dt class="font-semibold"><%= t('authorization.request_object') %></dt>
      <dd class="ml-4">
        <pre><%= JSON.pretty_generate(@request_object.as_json.as_json) %></pre>
      </dd>
    <% end %>
  </dl>
  <nav class="mt-4">
    <ul class="flex">
      <li class="mr-2">
        <%= render 'authorizations/form', common_params.merge(action: :approve) %>
      </li>
      <li>
        <%= render 'authorizations/form', common_params.merge(action: :deny) %>
      </li>
    </ul>
  </nav>
