<footer class="page_footer">

  <% if account_signed_in? %>
  <%= link_to 'Logout'.t, destroy_account_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_account_session_path %>
<% end %>

  <ul>
    <li>
      <%= link_to 'OpenID Connect RubyGem', 'https://github.com/nov/openid_connect' %>
    </li>
    <li>
      Nov's OP (
        <%= link_to 'Heroku', 'https://connect-op.herokuapp.com' %> /
        <%= link_to 'GitHub', 'https://github.com/nov/openid_connect_sample' %>
      )
    </li>
    <li>
      Nov's RP (
        <%= link_to 'Heroku', 'https://connect-rp.herokuapp.com' %> /
        <%= link_to 'GitHub', 'https://github.com/nov/openid_connect_sample_rp' %>
      )
    </li>
    <li>
      <small>&copy; <%= link_to 'nov matake', 'https://github.com/nov'%></small>
    </li>
  </ul>
</footer>